* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #003340;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #003340;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  overflow: visible;
}

a:hover {
  -webkit-text-shadow: 0 0 10px #fd6660;
  -moz-text-shadow: 0 0 10px #fd6660;
  -ms-text-shadow: 0 0 10px #fd6660;
  -o-text-shadow: 0 0 10px #fd6660;
  text-shadow: 0 0 10px #fd6660;
}

.profile a {
  text-shadow: 2px 2px #003340;
  cursor: pointer;
  color: #fff;
  transition: 0.25s ease-in-out;
}

.profile a:hover {
  color: #003340;
  text-shadow: none;
  transition: 0.25s ease-in-out;
}

header {
  margin-top: 60px;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 850px;
}

.header__container {
  margin-bottom: -40px;
  z-index: 1;
}

.header__headline {
  font-size: 3em;
  font-family: 'Bungee Shade', cursive;
  width: 100%;
  display: inline-block;
  position: relative;
  line-height: 1em;
  transition: 0.25s;
}

.header__headline:hover {
  transform: rotateZ(-0.5deg) translateX(0.5em);
  transition: 0.25s;
}

.profile {
  background-color: #fd736e;
  width: 100%;
  padding: 70px 50px;
}

.profile__container {
  margin: 0 auto;
}

.profile__latin {
  font-style: italic;
}

.profile__code {
  margin-top: 20px;
}

.site-footer {
  padding: 10px 0;
}

.social-nav {
  margin: 10px 0;
  list-style-type: none;
  padding: 0;
  display: flex;
}

.social-nav__item {
  margin: 0 10px;
  font-size: 1.5em;
}

.site-footer__copyright {
  font-size: 0.8em;
}

.profile__code--bold {
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .header__headline {
    font-size: 4em;
  }
  .profile {
    padding: 60px 100px;
  }
  .profile__container {
    max-width: 700px;
    padding: 0 30px;
  }
}
